@import url("/home/const/.cache/wal/colors-waybar.css");

/*reset*/
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: NotoSans Nerd Font, sans-serifs;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 10px;
    border-radius: 1rem;
}

#workspaces,
#mpris,
#window,
#clock,
#tray,
#memory,
#cpu,
#network,
#pulseaudio,
#pulseaudio-slider,
#battery,
#custom-power
{
    padding:0.25rem 0.75rem;
    margin: 0.25rem 0.3rem;
    color: @foreground;
    background-color: @background;
    border-radius: 1.5rem;
}

window#waybar.empty {
    background-color: transparent;
}

/*Hyprland Workspaces*/
#workspaces button {
    all: initial;
    min-width: 0;
    margin: 0 3px;
    background-color: @color1;
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    transition: background-color 0.25s, color 0.25s;
    transition-timing-function: ease;
}

#workspaces button.active {
    color: @background;
    background-color: @foreground;
}

#mpris.paused {
    color: @background;
}
