window {
    font-size: 1.1em;
    font-family: "Inter";
    color: white;

    background-color: rgba(--wofi-rgb-color0, 0.75);
    border-radius: 1.1rem;
}

#outer-box {
    padding: 0.45em;
}

#scroll {
    margin-top: 5px;
}

#input {
    background-color: rgb(--wofi-rgb-color1);
    border-style: none;
    color: white;
}

#text {
    color: white;
    transition: color 0.15s;
    transition-timing-function: ease-in-out;
}

#entry:selected {
    background: #E0AAFF;
    background: linear-gradient(90deg, rgba(--wofi-rgb-color3, 1) 0%, rgba(--wofi-rgb-color3, 1) 35%, rgba(0, 0, 0, 0) 100%);
    transition: background 0.15s;
    transition-timing-function: ease-in-out;
    border-radius: 1rem;
    padding-left: 10px;
}

#text:selected {
    color: #3c096c;
}
